<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Simple Web Covid-19 Info">
	<meta name="keywords" content="healthy care, health, healthy, covid, covid19, info covid">
	<meta name="theme-color" content="#2fb3e0">
	<title>Healthy Care</title>
	<link rel="apple-touch-icon" href="./icon/favicon.svg">
	<link rel="shortcut icon" href="./icon/favicon.svg" type="image/x-icon">
	<link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>
	<noscript>You need to enable JavaScript!</noscript>
	<header>
		<app-bar></app-bar>
	</header>
	<main>
		<hc-hero></hc-hero>
		<hc-about></hc-about>
		<hc-info></hc-info>
		<hc-banner></hc-banner>
		<hc-statistics></hc-statistics>
	</main>
	<footer>
		<p>Build with <img src="./icon/heart.svg" alt="Love Icon"> from Indonesia</p>
		<p>
			Data API by <a href="https://github.com/mathdroid/covid-19-api">mathdroid</a>
		</p>
	</footer>
</body>
</html>