@import "variables";
@import "mixins";

.content {
	margin-top: 50px;
	width: 100%;
	box-sizing: border-box;
	padding: 16px 260px;
	flex-direction: column;
	
	h2 {
		display: flex;
		justify-content: center;
		font-size: 2vw;
		color: $secondary-color;
	}
	
	select {
		display: flex;
		width: 100%;
		padding: 16px;
		margin-bottom: 8px;
		background-color: $primary-color;
		color: #fff;
		font-size: 18px;
		border: none;
		border-radius: 16px;
		outline: none;
		appearance: none;
	}
	
	span {
		display: flex;
		justify-content: center;
	}
	
	.counter-box {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 16px;
		padding: 16px;
		box-sizing: border-box;
		border: 2px solid $primary-color;
		border-radius: 16px;
		
		.counter-value {
			font-size: 96px;
			color: #333;
		}
		
		.counter-label {
			font-size: 18px;
			font-weight: 600;
			
			&.text-confirmed {
				color: #f2b900;
			}
			
			&.text-recovered {
				color: #52cc99;
			}
			
			&.text-deaths {
				color: #f26353;
			}
		}
	}

	.update {
		margin-top: 32px;
		margin-bottom: 100px;
		line-height: 18px;
		text-align: center;
		opacity: 0.5;
	}
}

@media only screen and (max-width: 500px) {
	.content {
		padding: 16px;
		
		h2 {
			font-size: 6vw;
		}

		.counter-box {
			.counter-value {
				font-size: 50px;
			}
		}
	}

	.update {
		margin-top: 10px;
	}
}

@media (min-width: 501px) and (max-width:768px) {
	.content {
		padding: 16px 130px;
		
		h2 {
			font-size: 5vw;
		}

		.counter-box {
			.counter-value {
				font-size: 50px;
			}
		}
	}

	.update {
		margin-top: 20px;
	}
}

@media (min-width: 860px) and (max-width: 1024px) {
	.content {
		h2 {
			font-size: 3vw;
			margin: 10px;
		}

		.counter-box {
			.counter-value {
				font-size: 65px;
			}
		}
	}

	.update {
		margin-top: 10px;
	}
}